//Global Variables before import!!

.mytheme .v-margin-left {
	padding-left: 0px !important;
}

.mytheme .v-margin-right {
	padding-right: 0px !important;
}

.mytheme .v-margin-top {
	padding-top: 0px !important;
}

.mytheme .v-margin-bottom {
	padding-bottom: 0px !important;
}

@import "../valo/valo.scss";

@mixin mytheme { 
	@include valo;
	//Insert your own theme rules here
	
	header {
		background: #bbb;
		width: 100%;
		min-height: 50px;
		position: fixed;
		left: 0;
		top: 0;
		border-bottom: 1px solid #444;
		text-align: center;
		z-index: 500;
	}
	
	footer {
		background: #bbb;
		width: 100%;
		min-height: 50px;
		position: fixed;
		left: 0;
		bottom: 0;
		border-top: 1px solid #444;
		text-align: center;
	}
	
	main {
		background-color: #fff;
		width: 100%;
		margin:0 auto;
		padding: 50px 0px 50px 0px;
		text-align: center;
	}
	
	#nav-bar{
		top: 15px;
	}
	
	#footer{
		bottom: 15px;
	}
	
	#nav-bar, #footer, #content {
	    left: 50%;
	    width: 100%;
	    margin-left: -50%;
	    position: absolute;
	}
	
	#task-new {
		margin-top: 10px;
	    width:100%;
	    text-align:center;
	    min-width: 500px;
	    overflow:hidden;
	}
	
	#task-left {
	    float:left;
	    min-width:50px;
	    overflow:hidden;
	}
	
	#task-center {
	    display: inline-block;
	    margin:0 auto;
	    min-width:100px;
	    overflow:hidden;
	}
	
	#task-right {
	    float:right;
	    min-width:100px;
	    overflow:hidden;
	}
	
	.newTaskButton{
		margin-bottom: 50px;
	}
}