//Global Variables before import!!


	.mytheme.v-app, .mytheme .v-app-loading {
		background: #00bfff !important;
	}
.mytheme .v-margin-left {
	padding-left: 0px !important;
}

.mytheme .v-margin-right {
	padding-right: 0px !important;
}

.mytheme .v-margin-top {
	padding-top: 40px !important;
}

.mytheme .v-margin-bottom {
	padding-bottom: 0px !important;
}
.v-grid-tablewrapper{
	max-width: unset !important;
}

#loginlogo{
	width: 100%;
	margin-bottom: 20px;
}

#headerlogo{
	height: 40px;
	margin-top: -35px;
}
.v-widget{
	vertical-align: middle;
}

#content * {
}
#content table{
	table-layout: fixed;
	word-break: break-all;
	width: 100%;
	margin-left: -1px;
}
.v-calendar-day-times-Hsized, .v-calendar-day-times-Hsized .v-datecellslot, .v-calendar-day-times-Hsized .v-datecellslot-even{
	width: auto;
}

.v-window{
	padding: 20px !important;
	margin-left: -40% !important;
	left: 50% !important;
	width: 80% !important;
}

.v-calendar-day-times-today{
	width: 100% !important;
}
.v-calendar-week-numbers{
	display: none;
}

.v-calendar-week-wrapper > table *{
	table-layout: unset !important;
	word-break: unset !important;
}

@import "../valo/valo.scss";

@mixin mytheme { 
	@include valo;
	//Insert your own theme rules here
	
	header {
		width: 100%;
		min-height: 50px;
		position: fixed;
		left: 0;
		top: 0;
		border-bottom: 1px solid white;
		text-align: center;
		z-index: 500;
		background: white; /* Old browsers */


	}
	
	footer {
		width: 100%;
		min-height: 50px;
		position: fixed;
		left: 0;
		bottom: 0;
		border-top: 1px solid #444;
		text-align: center;
		background: white;
		color: black;
		font-weight: 800;

	}

	#nav-bar .v-button{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4df5b+0,b4df5b+100;Green+Semi+Flat */
		background: #d2ff52; /* Old browsers */
		background: -moz-linear-gradient(top,  #d2ff52 0%, #a1fc23 5%, #91e842 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #d2ff52 0%,#a1fc23 5%,#91e842 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #d2ff52 0%,#a1fc23 5%,#91e842 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */

		box-shadow: none;
		border: 0px;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}
	.v-app-loading::before{
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 30000;
	width: 128px;
	height: 128px;
		left: 50%;
		margin-left: -64px;
	background: transparent url(img/loading.gif);
	margin-right: 0px;
	margin-top: 0px;
		padding: 0;
		border-radius:100px;
}

.v-button.v-widget:hover{
	margin-top: -5px;
	height: 42px;
}
	#middlebox{
		background: white;
		border-radius: 15px;
		padding: 20px;
		margin-left: 15%;
		margin-right: 15%;
		text-align: center;
	}
	
	main {
		width: 100%;
		margin:0 auto;
		padding: 50px 0px 50px 0px;
		text-align: center;
	}
	
	#nav-bar{
		top: 15px;
	}
	
	#footer{
		bottom: 15px;
	}
	
	#nav-bar, #footer, #content {
	    left: 50%;
	    width: 100%;
	    margin-left: -50%;
	    position: absolute;
	}
	
	#task-new {
		margin-top: 10px;
	    width:100%;
	    text-align:center;
	    min-width: 500px;
	    overflow:hidden;
	}
	
	#task-left {
	    float:left;
	    min-width:50px;
	    overflow:hidden;
	}
	
	#task-center {
	    display: inline-block;
	    margin:0 auto;
	    min-width:100px;
	    overflow:hidden;
	}
	
	#task-right {
	    float:right;
	    min-width:100px;
	    overflow:hidden;
	}
	
	.newTaskButton{
		margin-bottom: 50px;
	}

	.drug-item {
		margin-top: 10px;
		width: 100%;
		text-align: center;
		min-width: 500px;
		overflow: hidden;
	}

	.drug-left {
		float: left;
		min-width: 50px;
		overflow: hidden;
	}

	.drug-center {
		display: inline-block;
		margin: 0 auto;
		min-width: 100px;
		overflow: hidden;
	}

	.drug-right {
		float: right;
		min-width: 100px;
		overflow: hidden;
	}

}